
.one{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: blue;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 15px;
}
.tow{
    position: absolute;
    top: 80px;
    left: 80px;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 15px;

}
.three{
    position: absolute;
    top: 110px;
    left: 110px;
    background-color: yellow;
    width: 100px;
    height: 100px;
    z-index: 3; 
    border-radius: 15px;

}
.four{
    position: absolute;
    top: 140px;
    left: 140px;
    background-color: green;
    width: 100px;
    height: 100px;
    z-index: 4; 
    border-radius: 15px;

}