.container{
width: 400 px;
margin:5% 25% 0% 25% ;
border-left: 1px solid black ;
border-right: 1px solid black ;

padding: 5px;
}


 td , th{
    border:black solid 1px;
    text-align: center;
 }
 td{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
u{
   border-bottom: dotted 1px;
   text-decoration: none;
}
fieldset{
    width: 90%;
    height: 250px;
}
textarea{
    height: 100px;
}
.timing{
    margin: 10px;
}